@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@300;400&family=Oswald:wght@200;400&family=Poppins&display=swap');
body{
    background-color: #302a2a;
    color: aliceblue;
}
        section{
            margin-top: 100px;
            float: left;
            padding-left: 20px;
            width: 60%;
            line-height: 15px;
        }
        img{
            float: right;
            width: 30%;
            /* background-color: #302a2a; */
            color: #302a2a;
            margin-top: 100px;
            margin-bottom: 50px;
        }
        h1{
            font-size: 35px;
        }
        p{
            font-size: 14px;
            padding-bottom: 10px;
        }
        input{
            padding: 3px 3px 4px 6px;
            background-color: #5a4bda;
            color: aliceblue;
            font-size: 13px;
            font-weight: 100;
            border-radius: 5px;
            border: 0;
        }