.main{
    font-size: 13px;
    border: 2px solid #000000;
    width: 303px;
    height: 630px;
    background-color: #f0f8ff7e;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.left{
    float: left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
}
div.logo{
    text-align: center;
}
img{
    width: 150px;
}
.row1{
    color: rgb(91, 91, 237);
    font-weight: bold;
    font-size: 12px;
}
.row2{
    font-size: 12px;
}