body{
    background-color: #2f2828;  
    /* text-align: center; */
    padding:0px 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* padding-right: 200px; */
}
.offer-banner{
    text-align: center;
    background-color: #f95858;
    text-align: center;
    padding: 1px;
    width: 100%;
    top: 0;
    position: sticky;
}
section.course-logo>h1{
    color: #efaa29;
    text-align: center;
}
section.course-detail>h2{
    color: #efaa29;
    text-align: left;
}
p{
    color: #d7dde2c8;
}
img{
    width: 70%;
    margin-left: 90px;
    /* margin-right:70px; */
}