body{
    background-color: #131111;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Oswald:wght@200;400&family=Poppins&display=swap');
nav.links{
    background-color: #4d4b4b80;
    float: left;
    /* height: 100%; */
    width: 120px;
    margin: 0px;
    padding: 0px;
    min-height: 105vmin;
}
a{
    color: #f0f8ff;
    font-size: 11px ;
    text-decoration: none;
    display: block;
    padding: 10px 25px;
    /* line-height: 9px; */
    border-bottom: 1px dashed black;
}
nav.links>img{
    width: 100%;
    color: #5656d7;
}
section{
    margin: 15px;
    color: #f0f8ff;
}
section>article>h1{
    padding-top: 5px;
    color: #5656d7;
    text-align: center;
    font-size: 25px ;
    font-family: 'Oswald', sans-serif;
}
section>article>p{
    /* text-align: center; */
    color: #f0f8ff;
    font-size: 12px;
}
div>img{
    width: 350px;

}
div{
    text-align: center;
}
img.chatbot{
    width: 30px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}